#
# replace "...." string by your own amazon AWS keys.
#
require 'amazon/ecs'
Amazon::Ecs.options = {
        :AWS_access_key_id => "....................",
        :AWS_secret_key => "........................................",
        :country => :jp,
        :response_group => 'Medium'
}
