<h1>Bowling Matches</h1>

<table class="table table-striped">
  <tbody>
    <% @bowling_matches.each do |bowling_match| %>
    <tr>
      <td><%= link_to "#{bowling_match.name}", bowling_match %></td>
      <td><%= bowling_match.start_time.strftime("%Y/%m/%d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bowling match', new_bowling_match_path %>
