/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1.title {
  font-size: 300%;
  text-shadow:2px 2px 3px rgba(0,0,0,0.5);
}

div.logout {
  text-align: right;
}