// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.books {
  position: relative;
  left: 18em;
  width: auto;
  color: #0a6;
  background-color: #ff9;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.4);
}

table.books {
  th {
  }

  tr {
    font-size: 120%;
    border-bottom: 2px solid #f90;
  }

  td {
    border-bottom: 2px solid #f90;
  }
  td.thum {
      width: 200px;
    }

  td.title{
      color: #000;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1em;
  }

  td.command{
    width: 120px;
    a {
      margin-left: 50px;
    }
  }
}

#side {
  float: left;
  position: fixed;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 10em;
  width: 16em;
  background: #FFA07A;
  border: solid 2px #FF7F50;;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.4);
}
