// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.books {
  table-layout: fixed;
  position: relative;
  left: 18em;
// width: auto;
  width: 1000px;
  //color: #0a6;
  background-color: #ff9;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.4);  

  th.thum { width: 180px; }
  th.title { width: 570px; }
  th.command { width: 150px; }

  tr {
    font-size: 120%;
    border-bottom: 2px solid #f90;
  }

  td {
    border-bottom: 2px solid #f90;
  }

  td.thum {
      width: 180px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  td.title{
      color: #000;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1em;
      width: 570px;
  }

  td.command{
    width: 150px;
    a {
      margin-left: 5px;
    }
  }
}

table.subscription {
  position: relative;
  left: 16em;
  width: auto;
  background-color: #f0e68c;
  border-collapse: collapse;
  border-spacing: 0; 	
}

table.subscription th {
  background-color: #f0e68c;
}

table.subscription th.head {
  background-color: #f0e68c;
  height: 10em;
  border-bottom: 3px double black; /* ヘッダ行の下線 */
}


table.subscription tr {
  background-color: #f0e68c;
}

table.subscription td.user {
  width: 15em;
}


#side {
  float: left;
  position: absolute;
  padding-top: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 10em;
  width: 16em;
  border-radius: 10px;
  background: #FFA07A;
//  border: solid 2px #FF7F50;
//  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.4);
}

#side_link {
  padding-left: 1em;
  border-radius: 15px;
  border: medium #FF7F50 solid;
  background-color: white;
}

#side_item {
  margin-bottom: 0.5em;
}